<h1>{{title}}</h1>
<div class="container">
  <button (click)="ListarActividades()" class="btn btn-primary">Cargar Actividades</button>
  <button (click)="AgregarActividad()" class="btn btn-primary" style="margin-left: 10px;">Agregar Actividad</button>
  <button (click)="ListarEmpleados()" class="btn btn-primary" style="margin-left: 50px;">Ver Empleados</button>
  <button (click)="AgregarEmpleado()" class="btn btn-primary" style="margin-left: 10px;">Agregar Empleado</button>
</div>
<router-outlet></router-outlet>
